.add-product-card {
    max-width: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 576px) {
    .add-product-card {
      max-width: 100%;
      padding: 20px;
    }
  }
  